.menu1 {
    position: fixed;
    top: 0px;
    width: 100%;
    margin-top: 0px;
    background-color: black;
    top: 0px;
    z-index: 10;

}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px
}
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

.profile {
    border-radius: 0%;
    padding-top: 75px;
    padding-left: 150px;
    height: 700px;
    width: 1050px
}

row {
    height: 200px;
    width: 200px;
}

h2 {
    text-align: center;
    color: black;
}

#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container {
    text-align: center;
}

#myCarousel {
    background-color:white;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#myCarouse2 {
    background-color: #b5d0d4;
}

#myCarouse2 img {
    height: 300px;
    margin-top: 35px;
}
